.offers-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offers {
    width: 975px;
    height: 60vh;
    display: flex;
    /* margin:50px 130px; */
    padding: 0px 140px;
    margin-bottom: 100px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.offers-left {
    /* flex:2; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background-color: #ff4141;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

.offers-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    margin-left: 80px;

}

.offers-right img {
    height: 70vh;


}

@media(max-width:1280px) {
    .offers {
        padding: 0px 80px;
        margin-bottom: 120px;
        width: 800px;
    }

    .offers-left h1 {
        font-size: 40px;
    }

    .offers-left p {
        font-size: 18px;

    }

    .offers-right img {
        width: 300px;
        height: auto;

    }
}

@media(max-width:1024px) {
    .offers {
        padding: 0px 70px;
        margin-bottom: 40px;
        width: 600px;
        height: 50vh;
    }

    .offers-left h1 {
        font-size: 35px;
    }

    .offers-left p {
        font-size: 14px;

    }

    .offers-right img {
        width: 250px;
        height: auto;

    }

    .Offer-button button {
        width: 250px;
        height: 50px;
        font-size: 18px;
    }
}

@media(max-width:800px) {
    .offers {
        padding: 0px 70px;
        margin-bottom: 40px;
        width: 350px;
        height: 40vh;
    }

    .offers-left h1 {
        font-size: 25px;
    }

    .offers-left p {
        font-size: 10px;

    }

    .offers-right img {
        width: 175px;
        height: auto;

    }

    .Offer-button button {
        width: 150px;
        height: 30px;
        font-size: 14px;
    }
}

@media(max-width:500px) {
    .offers-container{
        height: 50vh;
        margin-top: 30px
    }
    .offers {
        padding: 0px 70px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 350px;
        
    }

    .offers-left h1 {
        font-size: 50px;
    }

    .offers-left p {
        font-size: 20px;

    }

    .offers-right {
        display: none;
    }

    .offers-left button {
        width: 240px;
        height: 65px;


        font-size: 20px;

    }
}